@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  /*margin: 30px auto;*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;

  background-image: 
    url(../img/lamp.png),
    url(../img/flowers.png);
  background-repeat: no-repeat;
  background-position:
    top left,
    bottom right;
}

.pacifico-regular, h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  padding: 20px;
}

.answers-container {
  display: flex;
  flex-direction: column;
}

.answer-btn {
  background-color: #61dadc;
  color: rgb(19, 19, 19);
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.btn {
  background-color: #1dbec2;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer img {
  width: 15%;
}