@import url(fonts.css);
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-color: #AF7EE7;*/
  background: rgb(39,32,82);
  background: linear-gradient(0deg, rgba(39,32,82,1) 0%, rgba(146,122,255,1) 65%, rgba(175,126,231,1) 87%);  /*margin: 30px auto;*/
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #FCFCFE;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;

  /*background-image: 
    url(../img/lamp.png),
    url(../img/flowers.png);
  background-repeat: no-repeat;
  background-position:
    top left,
    bottom right;*/
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 10px;
}

.answers-container {
  display: flex;
  flex-direction: column;
}

.answer-btn {
  /*background-color: #61dadc;*/
  background: #ffffff;
  border: 2px solid #F2F0F8;
  color: rgb(19, 19, 19);
  /*border: none;*/
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 10px;
}

.btn {
  background-color: #1dbec2;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.correct {
  background-color: #7EC665;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer img {
  width: 15%;
}