/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  width: 60%;
  margin: 30px auto;
}

.main-container {
  background-color: #fefeff;
  border-radius: 5px;
  height: 80vh;
  position: relative;
  background-image: 
    url(../img/leaves.jpg),
    url(../img/lamp.jpg),
    url(../img/china.jpg),
    url(../img/flowers.jpg);
  background-position: 
    top left,
    top right,
    bottom left,
    bottom right;
  background-repeat: no-repeat;
  background-size: 
    25%,
    35%,
    35%,
    75%;
}