@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  width: 60%;
  margin: 30px auto;
}

.pacifico-regular, h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
}

.main-container {
  background-color: #ffffff;
  border-radius: 5px;
  width: 600px;
  height: 80vh;
  margin: 0 auto;
  padding: 40px 0;

  position: relative;
  background-image: 
    url(../img/leaves.jpg),
    url(../img/lamp.jpg),
    url(../img/china.jpg),
    url(../img/flowers.jpg);
  background-position: 
    top left,
    top right,
    bottom left,
    bottom right;
  background-repeat: no-repeat;
  background-size: 
    25%,
    35%,
    35%,
    75%;
}